.wrapper {
  
  height: auto;
  font-size: 1.2rem;
  font-family: Georgia;
  align-items: center;

}

.title{
  font-size: large;
  padding-left: 20px;
  padding-right: 20px;
  font-family:Cambria;
  font-weight: 500;
  color: gainsboro;
  transition: all 0.3s ease; /* Add smooth transition */

}
.title:hover{
  color: blueviolet;
  transform: scale(1.5); /* Change the scale factor as needed */
}

.backColor{
  background-image: linear-gradient(to bottom, rgb(0,158,219), rgb(6, 102, 141));
}

.homeIcon {
  font-size: 1.2rem;
  color: gainsboro !important;

}
.homeIcon :hover{
  color: blueviolet;
}


.imageIcon {
  border: 2px solid gainsboro; /* Change the color and width as needed */
  border-radius: 50%;
  height: 50px;
  width: 50px;
  transition: all 0.3s ease; /* Add smooth transition */
}

.imageIcon:hover {
  transform: scale(1.5); /* Change the scale factor as needed */
  border-width: 3px; /* Increase border width on hover if desired */
}




