/* Typewriter style */
.center {
    position: absolute;
    top: 38%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
  
.Typewriter__wrapper {
    font-size: 2.2em !important;
    color: #009EDB !important;
    font-weight: 600 !important;
}

/* 
@media (max-width: 767px) {
    .Typewriter__wrapper {
        font-size: 1.4em !important;
        font-weight: 500 !important;
        position: absolute !important;
    }

} */